.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--bg-color-middle);
  border-radius: 0.4vw;

  box-shadow: var(--shadow-dark);

  margin-top: 4vw;
  padding: 2vw;
  gap: 2vw;
  width: 30%;
}


.error-msg {
  color: var(--font-color-dangerous);
}
